@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><br />Bem vindo!<br /><br /></h1>

    <a asp-area="" asp-controller="Employees" asp-action="Index" class="btn btn-block"><i class="fa fa-home fa-lg"></i><font size="5">&nbsp Funcionarios</font></a>
</div>





<!-- Segue original

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

-->
